@import url("variables.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

body {
  min-height: 100vh;                
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple-100);
}

.background-desktop {
  display: none;
}

.background-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__card {
  max-width: 768px;
  margin: 8rem 24px 0;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}

.accordion__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.accordion__icon--star {
  width: 24px;
  height: 24px;
}

.accordion__title {
  margin-left: 24px;
  font-size: 32px;
  color: var(--color-purple-950);
  font-weight: var(--font-weight-bold);
}

.accordion__list {
  list-style: none;
}

.accordion__item {
  border-bottom: 1px solid var(--color-purple-100);
  padding-bottom: 1.5rem;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.accordion__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 0.2rem;
  cursor: pointer;
}

.accordion__question-text {
  font-size: 16px;
  color: var(--color-purple-950);
  font-weight: var(--font-weight-semibold);

  &:hover {
    color: var(--color-violet-600);
  }
}

.accordion__answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  font-size: 14px;
  color: var(--color-purple-600);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

.accordion__item.is-active .accordion__answer {
  max-height: 300px;
  opacity: 1;
  margin-top: 1rem;
}

.accordion__icon--plus {
  content: url("../assets/images/icon-plus.svg");
  transition: transform 0.3s ease;
}

.accordion__item.is-active .accordion__icon--plus {
  content: url("../assets/images/icon-minus.svg");
}

.accordion__item.is-active .accordion__icon--plus {
  transform: rotate(180deg);
}

.attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
  margin: 1rem 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .background-mobile {
    top: -200px;
  }

  .accordion__card {
    max-width: 768px;
    margin: 0rem 3rem;
  }

  .accordion__title {
    font-size: 56px;
  }

  .accordion__icon--star {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) {

  .background-mobile {
    display: none;
  }

  .background-desktop {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}