@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-purple-950: hsl(292, 42%, 14%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-100: hsl(275, 100%, 97%);
  --color-violet-600: hsl(281, 83%, 54%);

  --font-family: 'Work Sans', sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}